
+<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" cont *ent="Responsive Admin Template" />
        <meta name="author" content="RedstarHospital" />
        <title>@ViewBag.Title.</title>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <!-- icons -->
        <link href="/assets/ThemeRedstar/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- bootstrap -->

        <link href="/assets/ThemeRedstar/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- style -->
        <link rel="stylesheet" href="/assets/ThemeRedstar/css/login.css">
        <!-- favicon -->
        <link rel="shortcut icon" href="/assets/ThemeRedstar/img/favicon.ico" />
    </head>
    <body>
        <div class="form-title">
            <h1><a style="color:white" href="/">
                {{'Account.LoginComponent.ConnectionPageTitle'|translate:lang}}
            </a></h1>
        </div>
        <!-- Login Form-->
        <!--<div class="toggle-left">
            <a href="/" style="color:white"><i class="fa fa-arrow-left"></i></a>
        </div>-->
        <div class="login-form text-center">
            <div class="toggle">
                <i class="fa fa-user-plus"></i>
            </div>

            <div class="form formLogin">
                <h2>
                    {{'Account.LoginComponent.BoxLoginTitle'|translate:lang}}
                </h2>
                <form #loginForm="ngForm">
                    <input [(ngModel)]="loginModel.email" #emailLogin="ngModel" placeholder="{{'Account.LoginComponent.EmailAddressPlaceholder'|translate:lang}}" type="email" tabindex="1" name="email" required="required" />
                    <input [(ngModel)]="loginModel.password" #passwordLogin="ngModel" placeholder="{{'Account.LoginComponent.PasswordPlaceholder'|translate:lang}}" type="password" tabindex="2" name="password" required="required" />

                    <div class="remember text-left">
                        <div class="checkbox checkbox-primary">
                            <input [(ngModel)]="loginModel.rememberMe" #rememberMeLogin="ngModel" name="rememberMe" id="checkbox2" type="checkbox" tabindex="3" value="true" checked>
                            <label for="checkbox2">
                                {{'Account.LoginComponent.RememberMeCheckbox'|translate:lang}}
                            </label>
                        </div>
                    </div>
                    <!--[disabled]="!loginForm.form.valid"-->
                    <button (click)="login()" [style.visibility]="loginForm.form.valid ? 'visible' : 'hidden'" name="login">
                        {{'Account.LoginComponent.ConnectionButton'|translate:lang}}
                    </button>
                    <div class="forgetPassword">
                        <a href="javascript:void(0)">
                            {{'Account.LoginComponent.LostPasswordTitle'|translate:lang}}
                        </a>
                    </div>
                </form>
            </div>
            <div class="form formRegister">
                <h2>
                    {{'Account.LoginComponent.RegisterPageTitle'|translate:lang}}
                </h2>
                <form #registerForm="ngForm">
                    <input [(ngModel)]="registerModel.firstname" #firstNameRegister="ngModel" placeholder="{{'Account.LoginComponent.FirstNamePlaceholder'|translate:lang}}" type="text" tabindex="1" name="firstname" required="required" />
                    <input [(ngModel)]="registerModel.lastname" #lastNameRegister="ngModel" placeholder="{{'Account.LoginComponent.LastNamePlaceholder'|translate:lang}}" type="text" tabindex="2" name="lastname" required="required" />
                    <input [(ngModel)]="registerModel.email" #emailRegister="ngModel" placeholder="{{'Account.LoginComponent.EmailAddressPlaceholder'|translate:lang}}" type="email" tabindex="3" name="email" required="required" />
                    <input [(ngModel)]="registerModel.password" #passwordRegister="ngModel" placeholder="{{'Account.LoginComponent.PasswordPlaceholder'|translate:lang}}" type="password" tabindex="4" name="password" required="required" />
                    
                    <i>{{'Account.LoginComponent.OptionalPlaceholder'|translate:lang}}</i>
                    <input [(ngModel)]="registerModel.zipcode" #zipeCodeRegister="ngModel" placeholder="{{'Account.LoginComponent.ZipCodePlaceholder'|translate:lang}}" type="text" tabindex="5" name="zipcode" />

                    <select class="form-control" [(ngModel)]="registerModel.birthdayMonth" tabindex="6" name="birthdaymonth">
                        <option *ngFor="let item of arrayOne(13); let i = index;" [ngValue]="item">{{'Account.LoginComponent.MonthSelection_'+index|translate:lang}}</option>
                    </select>
    
                    <select class="form-control" [(ngModel)]="registerModel.birthdayDay" tabindex="7" name="birthdayday">
                        <option value="0">{{'Account.LoginComponent.DaySelection_Default'|translate:lang}}</option>
                        <option *ngFor="let item of arrayOne(32); let i = index;" [ngValue]="item">item</option>
                    </select>
                    <select class="form-control" [(ngModel)]="registerModel.birthdayYear" tabindex="8" name="birthdayyear">
                        <option value="0">{{'Account.LoginComponent.YearSelection_Default'|translate:lang}}</option>
                        <option *ngFor="let item of subDateOne(); let i = index;" [ngValue]="item">item</option>
                    </select>

                    <button (click)="register()" [disabled]="!registerForm.form.valid" name="submit">{{'Account.LoginComponent.RegisterButton'|translate:lang}}</button>
                </form>
            </div>
            <div class="form formReset">
                <h2>
                    {{'Account.LoginComponent.ResetPasswordPageTitle'|translate:lang}}
                </h2>
                <form #emailResetForm="ngForm">
                    <input [(ngModel)]="resetModel.email" #emailReset="ngModel" placeholder="{{'Account.LoginComponent.EmailAddressPlaceholder'|translate:lang}}" type="email" name="emailReset" required="required" />
                    <button (click)="register()" [disabled]="!emailResetForm.form.valid" name="submit">
                        {{'Account.LoginComponent.SendEmailVerificationButton'|translate:lang}}
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
