<div class="page-content">
  <div class="page-bar">
    <div class="page-title-breadcrumb">
      <div class=" pull-left">
        <div class="page-title">
          {{'PanelAccount.PanelIndex.PageTitle'|translate:lang}}
        </div>
      </div>
      <ol class="breadcrumb page-breadcrumb pull-right">
        <li>
          <i class="fa fa-home"></i>&nbsp;<a class="parent-item" [routerLink]="['/']">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
        </li>
        <li *ngFor="let item of cutUrlService.addLink(); let i = index">
          <div *ngIf="i < cutUrlService.addLink().length - 1">
            <a class="parent-item" style="color: #888; font-size: 14px; text-shadow: none;" [routerLink]="[item.link]">{{item.name}}</a>&nbsp;<i class="fa fa-angle-right"></i>
          </div>
          <div *ngIf="i == cutUrlService.addLink().length - 1" class="active">{{item.name}}</div>
        </li>
      </ol>
    </div>
  </div>
  <canvas id="myChart" width="400" height="400"></canvas>
    <div>
      <button data-toggle="button" class="btn btn-circle btn-primary" (click)="showSuccess()">
        Toaster
      </button>
    </div>
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> Indicates a successful or positive action.
    </div>
    <div class="alert alert-info">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Info!</strong> Indicates a neutral informative change or action.
    </div>
    <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Warning!</strong> Indicates a warning that might need attention.
    </div>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
    </div>

</div>
